.block{
    margin: 0px;
    padding: 0px;
    background-color: white;
    
    
}

#canvas{
    display:inline-grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16, 1fr);
    border: 1px solid grey;
    width: 500px;
    height: 500px;
    padding: 0px;
}
#y{
    display:inline-grid;
    display: flex;
    flex-wrap: nowrap;
}
