.block{
    margin: 0px;
    padding: 20px;
    background-color: white;
    
    
}

#canvas{
    display:inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;

   
}
